*{
box-sizing:border-box;
}

.clearfix &:before{
    content: "";
    display: table;
}

.clearfix &:after{
    content: "";
    display: table;
    clear: both;
}


body{
    background: url("index.jpeg") no-repeat center 30%;
    font-family: "Times New Roman", Times, serif;
    background-size: 100%;
}

.header-page-wrap{
    color: #fff;
    background-color: #000;
}

.header-page{
    max-width: 1180px;
    margin: 0 auto;
    padding: 30px 0;
}

.header-page-wrap h4{
    margin: 0 0 10px;
    line-height: 1.4;
    font-size: 40px;
    color: #000;
    background: -webkit-linear-gradient(#eee, #b7970b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    
}

.header-page-wrap span{
    display: block;
    font-size: 20px;
}

.container-column-wrap{
    background: rgba( 230, 193, 31, 0.6);
    border-top: 5px solid #fff;
}

.container-column{
    //background-color: darkgoldenrod;
    max-width: 1180px;
    margin: 0 auto;
    padding: 50px 30px 70px;
    display: -webkit-flex;
    display: flex;
}

.column-left{
    float: left;
    width: 60%;
}

.content-title{
    float: left;
    background-color: #fff;
    width: 40%;
}

.content-title ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.content-title ul li h4{
    margin: 0;
}

.content-title ul li a{
    text-decoration: none;
    color: #000;
    display:block;
    font-size:18px;
    padding: 20px;
    border-bottom: 1px solid gray;
}

.content-title ul li a:hover{
    background-color: #fcd733;

}

.content-title ul li a.active{
    background-color: darkgoldenrod;
    color: #fff;
}

.content-title ul li a.active span{
    color: #fff;
}

.fas , .far{
    font-size: 30px;
    float: right;
    margin-top: -15px;
    color:#000;
}

.content-title span{
    display: block;
    color: gray;
    font-size: 14px;

}

.details{
    float: right;
    width: 50%;
}

.detailed-text h4{
    color:#fff;
    font-size: 30px;
    text-transform: capitalize;
    margin: 0;
}

.detailed-text p{
    border: 1px solid #fff;
    padding: 20px;
    font-size: 20px;
}

.Image-box{
    padding: 2px;
    text-align: center;

}

.Image-box img{
    display: block;
    margin: 10px auto;
}

.column-right{
    width: 40%;
    padding: 0 0 0 30px;
}

.column-right h4{
    font-size: 30px;
    color: #fff;
    margin: 0;
}

.personel-info-box p{
    font-size: 18px;
}

.personel-info-box p span{
    width: 40%;
    float: left;
}

.personel-info-box p{
    content: "";
    clear: both;
}

.personel-info-box label{

}

.social ul{
    padding: 0 0 0 20px;
    margin: 0;
    list-style: none;
}
.social ul li{
    display: inline-block;
    margin: 0 20px;

}

.fab , .fas{
    font-size: 40px;
    color: #000;
}

.footer-page-wrap{
    background: #000;
    padding: 30px 0;
}

.footer-page{
    max-width: 1120px;
    margin: 0 auto;
}

.footer-page p{
    margin: 0;
    color: #fff;
    font-size: 12px;
}




